<template>
    <div class="main-popup">
        <!-- <div class="slds-align_absolute-center nds-align_absolute-center nds-p-top_medium slds-p-top_medium">
            <pre>
            <h1 style="font-size:20px;color:rgb(224, 63, 35);font-weight: bold nds-align_absolute-center;">AMEND USAGE</h1><br/>
            <h5>Please input your meter number and consumption you would like to amend</h5>
            </pre>
            </div> -->
            <div>
                <vlocity_cmt-input 
                class="slds-col slds-size_8-of-12 nds-col nds-size_8-of-12 ;" 
                label={isGas}
                value={meterNumber} 
                name="meterNumber"
                readonly
                >
                </vlocity_cmt-input>
            </div>
            <div class="nds-align_absolute-center slds-grid slds-wrap nds-grid nds-wrap">
                <vlocity_cmt-input 
                        class=" nds-align_absolute-center slds-col slds-size_6-of-12 nds-col nds-size_6-of-12;"
                        label="USAGE"
                        name="usage"
                        value={consumption}
                        onchange={handleChange}
                        >
                </vlocity_cmt-input>
                <form class=" slds-col slds-size_6-of-12 nds-col nds-size_6-of-12">  
                        <input type="radio"  name="duration" value="perAnnum" onchange={handleChange} checked = true/> per-annum &nbsp;
                        <input type="radio"  name="duration" value="perMonth" onchange={handleChange}/> per-month &nbsp;
                </form>   
            </div>
           <!--<p if:true={isError} class="slds-text-color_error slds-text-heading_small nds-text-color_error nds-text-heading_small 
                        slds-align_absolute-center nds-align_absolute-center">
                        {checkError}
            </p>-->
            <div class="slds-align_absolute-center nds-align_absolute-center nds-p-top_medium slds-p-top_medium">
                <vlocity_cmt-button  
                    label="Proceed"
                    class ="nds-p-right_medium slds-p-right_medium"
                    onclick={handleProceed}
                    variant="brand"
                    disabled={isInValid}>
                </vlocity_cmt-button>
            </div>
    </div>

    <div class="error-popup">
        <template if:true={isModalOpen}>
            <!-- Modal/Popup Box LWC starts here -->
           <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <div class="container">
                            <div class="center"><h2 id="modal-heading-01" class="header slds-text-heading_medium slds-hyphenate">{headerMsg}</h2></div>
                            <div class="right">
                                <div onclick={closeModal} class="close-btn">
                                    <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 25.6667L19.8333 19.8333L14 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M25.833 14L19.9997 19.8333L25.833 25.6666" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" stroke="black">
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                        <div class="no-result ">
                            <p class="message"><b>{msgBody1}</b></p>
                            <p class="message nds-p-top_xx-small"><b>{msgBody2}</b></p>
                            <div class="nds-p-top_small nds-align_absolute-center ">
                            <vlocity_cmt-button variant="brand" icon-name={iconName} icon-fill="white" icon-size="small" class="btn-style nds-p-top_large" theme="nds" label="Call Us"></vlocity_cmt-button>
                            </div>
                        </div>
                </div>
            </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
                <div class="right">
                    <div onclick={closeModal} class="close-btn">
                        <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 25.6667L19.8333 19.8333L14 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M25.833 14L19.9997 19.8333L25.833 25.6666" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" stroke="black">
                        </svg>
                    </div>
                </div>
        </template>
    </div>
   
</template>