.header-msg {
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
}

.card {
    width: 85%;
}

.card-mobile {
    width: 100%;
}

.slds-modal__container {
    max-width: 50rem !important;
    width: 50% !important;
}

.slds-modal__header {
    border: 3px solid #f58220 !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: none !important;
}

.no-result {
    text-align: center;
    background: white;
    padding: 20px;
    border: 3px solid #f58220 !important;
    border-top: none !important;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.no-result {
    text-align: center;
    background: white;
}

.message {
    font-size: 1.3em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: center;
}

.header {
    font-family: Kanit !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 2.5em !important;
    line-height: 1em !important;
    color: #F58220 !important;
}

.btn-style {
    font-style: normal;
    font-size: 1.5em;
    line-height: 2.7em;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
}

.center {
    display: inline-block;
    margin: 0 auto;
}

.right {
    float: right;
    width: 30px;
}

.loading-text {
    text-transform: uppercase;
    font-family: Kanit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    color: #393939;
}
.row-color{
    background:#F58220 ;
}

.table-header{
    background: #EDEDED;
    font-weight: 700;
    font-size: 16px;
    line-height: 53px;
}

 tr{
    font-size: 16px;
    line-height: 35px;
}

td > div {
    padding: 3px 15px;
    font-weight: 700;
}

th > div {
    padding: 8px 15px;
    display: flex;
}

.down-arrow{
    color: #F58220;
    transform: rotate(89.86deg);
    align-self: center;
    margin-left: 4px;

}

lightning-button.button {
    --slds-c-button-radius-border: 20px;
    --slds-c-button-shadow-focus:0;
    --slds-c-button-text-color: black;
    --slds-c-button-text-color-focus: black;
    --slds-c-button-text-color-hover: black;
    padding: 10px;
    font-weight: 700;
    --slds-c-button-color-background-active: #F58220;
    --slds-c-button-color-border-active: #F58220;
    --slds-c-button-color-border: #F58220!important;
    --slds-c-button-text-color-active: black;
    border-color:#f58220!important;
}

lightning-button.button_neutral{
    border: 2px solid orange;
    --slds-c-button-color-border: #F58220!important;
}

lightning-input.input-date,
lightning-input.input-date:hover
{

    border: 2px solid orange;
    border-radius: 20px;
    margin-top: 10px;
    --slds-c-input-shadow-focus: none;
    --slds-c-input-shadow: none;
    --slds-c-input-color-background: none;
    --slds-c-input-color-border: none;
    --slds-c-input-radius-border: 17px;
    --slds-c-input-color-border-active: none;
    --slds-c-input-color-border-focus: none;


}

.data-input {
    color: black;
    width: 300px;
    font-weight: 700;
}

.data-title{
    padding-bottom: 20px;
    padding-left: 3px;
}