<template>
 
    <template if:true={isPriceLoaded}>
    <div class="data-input" style="padding-bottom: 30px;">
        <label class="data-title" for="input8">Contract Start Date</label>
        <lightning-input type="date" class="input-date" name="input8" date-style="short"  variant="label-hidden" value="15/03/2022" onchange={handleStDateCahngeEvent}>
        </lightning-input>
    </div>   
    <table>
        <thead class="table-header">
            <tr>
                <th>
                    <div style="display: flex;">
                        Fixed rate term <div class="down-arrow">></div>
                    </div>
                </th>
                <template if:true={chargeHeader.standingCharge}>
                    <th>
                        <div>
                          Standing charge p/day  
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.standard}>
                    <th>
                        <div>
                            Standard charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.dayCharge}>
                    <th>
                        <div>
                           Day Charge p/kWh 
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.nightCharge}>
                    <th> 
                        <div>
                            Night Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.eveningWeekendCharge}>
                    <th> 
                        <div>
                            Evening Weekend Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.offPeakCharge}>
                    <th>
                        <div>
                            OffPeak Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.day1Charge}>
                    <th>
                        <div>
                            Day1 Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.day2Charge}>
                    <th>
                        <div>
                            Day2 Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.day3Charge}>
                    <th>
                        <div>
                            Day3 Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.day4Charge}>
                    <th>
                        <div>
                             Day4 Charge p/kWh
                        </div>
                    </th>
                </template>
                <template if:true={chargeHeader.day5Charge}>
                    <th>
                        <div>Day5 Charge p/kWh</div>
                    </th>
                </template>
                <th>
                    <div>
                        Contract £ <div class="down-arrow">></div>
                    </div>
                </th>
                <th>
                    <div>
                        Average per month <div class="down-arrow">></div>
                    </div>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        <!-- <template iterator:it={prices} for:index="index">  -->
            <template for:each={prices} for:item="it" for:index="index">   
            <tr key = {it.productName} class={it.rowSelected}>
                <td>
                    <div>{it.productName}</div>
                </td>
                <template if:true={chargeHeader.standingCharge}>
                    <td>
                        <div>{it.standingCharge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.standard}>
                    <td>
                        <div >{it.Standard}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.dayCharge}>
                    <td>
                        <div>{it.dayCharge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.nightCharge}>
                    <td>
                        <div>{it.nightCharge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.eveningWeekendCharge}>
                    <td>
                        <div>{it.eveningWeekendCharge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.offPeakCharge}>
                    <td>
                        <div>{it.offPeakCharge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.day1Charge}>
                    <td>
                        <div>{it.day1Charge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.day2Charge}>
                    <td>
                        <div>{it.day2Charge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.day3Charge}>
                    <td>
                        <div>{it.day3Charge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.day4Charge}>
                    <td>
                        <div>{it.day4Charge}</div>
                    </td>
                </template>
                <template if:true={chargeHeader.day5Charge}>
                    <td>
                        <div>{it.day5Charge}</div>
                    </td>
                </template>
                <td>
                    <div>{it.contractCost}</div>
                </td>
                <td>
                    <div>{it.monthlyCost}</div>
                </td>
                <td>
                    <!-- <lightning-button  label="Select" onclick={handleRowSelection} data-index={index} value={index}></lightning-button> -->
                    <div class="button-container">
                        <lightning-button class="button" label="Select" title="Select" onclick={handleRowSelection} data-index={index} value={index}></lightning-button>
                    </div>
                </td>
                
            </tr>
        </template>
    </tbody>
    </table> 
    </template>
    <template if:true={isEmailQuote}>
        <div class="button-container"  style="padding-top: 30px;">
            <lightning-button class="button" label="Email" onclick={sendEmail} data-index={index} value={index}></lightning-button>
        </div>

    </template>
    
    <template if:true={isFailed}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <div class="container">
                        <div class="center"><h2 id="modal-heading-01" class="header slds-text-heading_medium slds-hyphenate">{headerMsg}</h2></div>
                        <div class="right">
                            <div onclick={closeModal} class="close-btn">
                                <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 25.6667L19.8333 19.8333L14 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M25.833 14L19.9997 19.8333L25.833 25.6666" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" stroke="black">
                                </svg>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                
                    <div class="no-result">
                        <p class="message"><b>{msgBody1}</b></p>
                        <p class="message nds-p-top_xx-small"><b>{msgBody2}</b></p>
                        <div class="nds-p-top_small">
                        <vlocity_cmt-button variant="brand" icon-name={iconName} icon-fill="white" icon-size="small" class="btn-style nds-p-top_large" theme="nds" label={btnLabel} onclick={handleClick}></vlocity_cmt-button>
                        </div>
                    </div>
            </div>
        </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:false={isLoaded}>
        <div class="nds-align_absolute-center" style="width: 60%;">
            <img src="/resource/PriceLoadingImage" alt="Loading">
            <span class="loading-text">hold tight...we’re finding the best prices for yÜ.</span>
        </div>
    </template>
</template>